body {
  font-family: "Abril Fatface", cursive;
  font-size: 14px;
  color: #2f2f2f;
  background-color: #f9f7f1;
}

.box {
  height: 200px;
  width: 200px;
  padding: 12px;
  border: solid 2.5px #2f2f2f;
  margin: 25px;
}

.outline {
  border: solid 4px #2f2f2f;
  border-radius: 25px;
}

a {
  color: black;
  text-decoration: none;
}

img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.icon-size {
  font-size: 25px;
  padding: 10px;
  padding-top: 45px;
  margin: 10px;
}

.icon-size2 {
  font-size: 30px;
  padding: 55px;
  margin: 25px;
}

header {
  padding: 20px;
  background-color: #f9f7f1;
  color: #2f2f2f;
}

.right {
  float: right;
}

.github-display {
  height: 800px;
  width: 300px;
  padding: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: solid 4px #2f2f2f;
  margin: 25px;
}

img:hover {
  background-color: rgb(255, 255, 255);
}

header h1 {
  display: inline-block;
  font-size: 25px;
}

h2 {
  text-align: center;
}

.display {
  float: right;
  height: 200px;
  width: 200px;
  padding: 12px;
  border: solid 2.5px #2f2f2f;
  margin: 25px;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Abril Fatface", cursive;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

footer {
  text-align: center;
}
